<h1>{{title}}</h1>
<form action="/new" method="post">
  <h2>Name</h2>
  <input type="text" name="name" id="name">
  <h2>Message</h2>
  <input type="text" name="message" id="message">
  <input type="submit" value="Send">
</form>