<h1>{{title}}</h1>

{{#each messages as |message|}}
<p><i>{{message.added}}</i> <strong>{{message.user}}:</strong> {{message.text}}</p>
{{/each}}
<a href="/new"><input type="button" value="New Post"></a>